@keyframes SlideLeft {
  0% {left: 0vw; opacity: 1;}
  49% {
    left: -100vw;
    opacity: 0;
  }
  50% {
    opacity: 0;
    left: 100vw;
  }
  100%{ left: 0vw; opacity: 1;}
}

@keyframes fadeIn {
  to {opacity: 1;}
}

.Container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  height: 25vw;
  flex-direction: row;
  background: rgba(0,0,0,.4);
  top: 25vh;
  opacity: 0;
  animation: fadeIn .5s 1;
  animation-fill-mode: forwards;
}
.Column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  height: 20vw;
  background: rgba(0,0,0,.5);
  color: white;
  position: relative;
  border-radius: 3em;
  transition: .5s;
  text-align: center;
  top: 3vh;
  left: 0vw;
  /* animation: SlideLeft 1s linear infinite; */
}
.Column:hover {
  width: 25vw;
  height: 25vw;
  background: rgba(0,0,0,.8);
  top: 0vh;
}
.Column:hover > .ClickMe { opacity: 1; transition: 1s;}
.Column:hover > .Title { opacity: 0; }
.Column:hover > .Thumbnail {
  width: 25vw;
  height: 25vw;
  opacity: 1;
}

.Title {
  text-align: center;
  font-size: 2vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  flex: 1;
}

.ClickMe {
  opacity: 0;
  transition: .5s;
  z-index: 5;
  text-align: center;
  font-size: 2vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0s;
  flex: 1;
  font-weight: 900;
}
.Thumbnail {
  position: absolute;
  opacity: 0;
  width: 20vw;
  height: 20vw;
  border-radius: 3em;
  transition: .5s;
}



.btn {
  height: 25vw;
  width: 10vw;
  border: none;
  background: transparent;
  z-index: 3;
  position: relative;
  transition: .5s;
}
.btn:focus {
  outline: none;
  border: none;
}
.btn:hover {
  background: rgba(0,0,0,.3);
}
.btn:hover > #triangle-left {transform: scale(1.1); border-right-color: rgba(0,0,0,.3);}
.btn:hover > #triangle-right {transform: scale(1.1); border-right-color: rgba(0,0,0,.3);}

#triangle-left {
  position: absolute;
  left: 1vw;
  top: 9vw;
	width: 0;
	height: 0;
	border-top: 3vw solid transparent;
	border-right: 6vw solid rgba(0,0,0,.3);
	border-bottom: 3vw solid transparent;
  transition: .5s;
}
#triangle-right {
  position: absolute;
  right: 1vw;
  top: 9vw;
	width: 0;
	height: 0;
	border-top: 3vw solid transparent;
	border-left: 6vw solid rgba(0,0,0,.3);
	border-bottom: 3vw solid transparent;
  transition: .5s;
}
