@-webkit-keyframes spin {
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg); }
}
@keyframes spin {
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg); }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  border: solid grey 7px;
  border-right-color: green;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  opacity: 1;
}
